html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  height: 400px;
  width: 400px;
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.board-square {
  border: 1px solid black;
  text-align: center;
  font-size: 100px;
}
.results {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.new-game {
  border-radius: 25px;
  background-color: #67e8f9;
  border: 1px solid black;
  margin-top: 30px;
  padding: 20px;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
